<h1>KML's</h1>

<table width="80%">
  <tr>
    <th>Created</th>
    <th>Updated</th>
    <th>Description</th>
    <th>Source</th>
  </tr>

<% @kmls.each do |kml| %>
  <tr>
    <td><%=h short_nice_date(kml.created_at) %></td>
    <td><%=h short_nice_date(kml.updated_at) %></td>
    <td><%=h kml.description %></td>
    <td><%=h kml.source_url %> <%=h kml.original_filename %></td>
    <td><%= link_to 'Show', kml %></td>
    <td><%= link_to 'Edit', edit_kml_path(kml) %></td>
    <td><%= link_to 'Destroy', kml, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Upload KML', new_kml_path %>