<h1><%= XPath.first(@xml_document, @kml.name_path()) %></h1>

<p>
  <b>Source url:</b>
  <%=h @kml.source_url %>
</p>

<p>
  <b>Description:</b>
  <%=h @kml.description %>
</p>

<p>
  <b>Original filename:</b>
  <%=h link_to @kml.original_filename, '/uploads/%s' % @kml.original_filename %>
</p>

<i><%= XPath.first(@xml_document, @kml.description_path()) %></i>

<div id="map_canvas" style="width:600px; height:600px; border: solid 1px gray">
Loading...
</div>

<h2>
  <%= XPath.match(@xml_document, @kml.all_placemark_path()).size() %> Placemarks
  (<%= XPath.match(@xml_document, @kml.all_polygon_path()).size() %> polygons,
   <%= XPath.match(@xml_document, @kml.all_linestring_path()).size() %> linestrings)
</h2>

<div style="height: 200px; width: 500px; border: solid 1px gray; overflow: auto">
<% XPath.match(@xml_document, @kml.all_placemark_path()).each { |placemark| %>
  <div><%= XPath.first(placemark, "name") %></div>
<% } %>
</div>

<p>folders <%= XPath.match(@xml_document, @kml.folder_name_path()) %></p>

<script type="text/javascript">

function initialize() {
  var myLatlng = new google.maps.LatLng(-13.7, -65.3);

  var myOptions = {
    zoom: 5,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(
      document.getElementById("map_canvas"),
      myOptions);

  var boundingBoxCoords = [
    <%= @bounding_box.collect { |coord| "new google.maps.LatLng(%f, %f)" % [coord[1], coord[0]] }.join(", ") %>
  ]

  boundingBox = new google.maps.Polygon({
    paths: boundingBoxCoords,
    strokeColor: "#FF0000",
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: "#FF0000",
    fillOpacity: 0.35
  });

  boundingBox.setMap(map);
}
</script>

<%= link_to 'Edit', edit_kml_path(@kml) %> |
<%= link_to 'Back', kmls_path %>