<p>
  <b>Source url:</b>
  <%=h @kml.source_url %>
</p>

<p>
  <b>Description:</b>
  <%=h @kml.description %>
</p>

<p>
  <b>Original filename:</b>
  <%=h link_to @kml.original_filename, '/uploads/%s' % @kml.original_filename %>
</p>

<% if (request.host == 'localhost') %>
  <strong>can't show kml layers with localhost</strong>
<% end %>


<p>name <%= XPath.first(@xml_document, @kml.name_path()) %></p>
<p>description <%= XPath.first(@xml_document, @kml.description_path()) %></p>
<p>all placemarks <%= XPath.match(@xml_document, @kml.all_placemark_path()).size() %></p>
<p>all polygons <%= XPath.match(@xml_document, @kml.all_polygon_path()).size() %></p>
<p>all linestrings <%= XPath.match(@xml_document, @kml.all_linestring_path()).size() %></p>
<p>folders <%= XPath.match(@xml_document, @kml.folder_name_path()) %></p>

<div id="map_canvas" style="width:600px; height:600px">hi mom</div>

<script type="text/javascript">

function initialize() {
  var myLatlng = new google.maps.LatLng(-13.7, -65.3);
  var myOptions = {
    zoom: 5,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(
      document.getElementById("map_canvas"),
      myOptions);

  var nyLayer = new google.maps.KmlLayer(
      '<%= url_for :host => "50.17.230.115", :port => "3000", :controller => "kmls", :action => "show", :id => @kml, :only_path => false, :format => "kml" %>',
      {  suppressInfoWindows: true,
         map: map });
}
</script>

<%= link_to 'Edit', edit_kml_path(@kml) %> |
<%= link_to 'Back', kmls_path %>